/* prettier-ignore */
:root {
  --color-brand-hue: 200;
  --color-brand-saturation: 74%;
  --color-brand-lightness: 55%;
  --color-brand: hsl(var(--color-brand-hue) var(--color-brand-saturation) var(--color-brand-lightness));
  --color-primary: var(--color-brand);
  --color-secondary: hsl(var(--color-brand-hue) var(--color-brand-saturation) 35%);
  --color-tertiary: hsl(0 0% 44%);
  --color-tertiary-light: hsl(0 0% 95%);
  --color-social-media-facebook: hsl(221 44% 41%);
  --color-social-media-twitter: hsl(196 100% 46%);
  --color-social-media-linkedin: hsl(201 100% 35%);
  --color-social-media-youtube: hsl(0 74% 46%);
  --color-social-media-instagram: hsl(349 75% 57%);
  --color-social-media-github: hsl(0 0% 20%);
  --color-text: hsl(0, 0%, 0%);
  --color-solid-primary: hsl(0, 0%, 0%);
  --color-solid-secondary: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 90%)
}
