@import "../01-settings/breakpoint";
$component-name: "c-button-mobile";

.#{$component-name} {
  align-self: center;
  background-color: var(--color-solid-secondary);
  border: none;
  display: block;
  cursor: pointer;
  grid-area: button-mobile;
  height: auto;
  justify-self: flex-end;
  padding: 0;
  transition: var(--transition-function-header);
  width: calc(var(--space-6xl) * 0.6);

  @include breakpoint(small) {
    display: none;
  }

  &__slice-up, &__slice-middle, &__slice-down {
    margin: var(--space-3xs) 0;
    background-color: var(--color-tertiary);
    padding: 0;
    width: 100%;
    transition: var(--transition-function-header-mobile);

    &.is-open {
      transform-origin: 50% 50%;
    }
  }

  &__slice-up, &__slice-down {
    height: calc(var(--space-6xs) * 0.8);
  }

  &__slice-up {
    &.is-open {
      transform: translateY(2px) rotate(-45deg);
    }
  }

  &__slice-down {
    &.is-open {
      transform: translateY(-2px) rotate(45deg);
    }
  }

  &__slice-middle {
    height: var(--space-4xs);
    transition-delay: var(--transition-duration-default);

    &.is-open {
      height: 0;
      margin: 0;
      transition-delay: 0ms;
      width: 0;
    }
  }
}
