@import "../01-settings/breakpoint";
$component-name: "c-line-header";

.#{$component-name} {
  display: grid;
  grid-area: line;
  grid-template-columns: auto calc(var(--space-xl)*3);
  height: auto;
  overflow: visible;
  transition: var(--transition-function-header);
  width: 100%;

  &.has-sticker {
    height: 0;
    padding: 0;
  }

  &__full {
    grid-column: 1 / -1;
    overflow: visible;
    height: 10px;
    width: 100%;
    shape-rendering: crispEdges;
    transform-origin: 100% 100%;

    @include breakpoint(small) {
      grid-column: 1 / 2;
    }
  }

  &__right {
    height: 0;
    width: 0;
    overflow: hidden;
    transform-origin: 100% 0%;
    transition: var(--transition-function-header);

    @include breakpoint('small-up') {
      grid-column: 2 / 3;
      height: 10px;
      overflow: visible;
      width: 100%;
    }
  }

  &__item {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 0.05rem;
    stroke: var(--color-tertiary);

    @-moz-document url-prefix() {
      stroke-width: 1px;
    }

    &--color {
      shape-rendering: auto;
      stroke: var(--color-primary);
    }

    &.has-sticker {
      height: 0;
      transform: scale(0, 1);
    }
  }
}
