<section class="c-line-footer">
    <svg class="c-line-footer__full">
        <g class="c-line-footer__colored">
            <line x1="0" y1="7.5" x2="100%" y2="7.5"></line>
        </g>
        <g class="c-line-footer__mono">
            <line x1="0" y1="12.5" x2="100%" y2="12.5"></line>
        </g>
    </svg>
    <svg class="c-line-footer__right">
        <g class="c-line-footer__background">
            <path d="M0,0 90,0 140,-75 275,-75 275,0"></path>
        </g>
        <g class="c-line-footer__colored">
            <line x1="0" y1="7.5" x2="100" y2="7.5"></line>
            <line x1="100" y1="7.5" x2="150" y2="-67.5" class="c-line-footer__colored--smoth"></line>
            <line x1="150" y1="-67.5" x2="100%" y2="-67.5"></line>
        </g>
        <g class="c-line-footer__mono">
            <line x1="0" y1="12.5" x2="90" y2="12.5"></line>
            <line x1="90" y1="12.5" x2="140" y2="-62.5"></line>
            <line x1="140" y1="-62.5" x2="100%" y2="-62.5"></line>
        </g>
    </svg>
</section>