<h3 class="c-description">Qualidade. Tecnologia. Inovação.</h3>
<h3 class="c-local">Empresa original do Brasil</h3>

<div class="c-social-network">
    <ul class="c-social-network__container">
        <li class="c-social-network__icon">
            <a href="https://www.linkedin.com/company/nucleo-map/"
               target="_blank"
               class="c-social-network__link">
                <svg viewBox="0 0 61 61">
                    <path class="c-social-network__item"
                          d="M 47.337,44.637 V 32.925 c 0,-6.275 -3.35,-9.195 -7.816,-9.195 -3.604,0 -5.219,1.983 -6.119,3.374 V 24.21 h -6.79 c 0.09,1.917 0,20.427 0,20.427 h 6.79 V 33.229 c 0,-0.609 0.044,-1.219 0.224,-1.655 0.49,-1.22 1.607,-2.483 3.482,-2.483 2.458,0 3.44,1.873 3.44,4.618 v 10.929 h 6.789 z M 19.459,21.422 c 2.367,0 3.842,-1.57 3.842,-3.531 -0.044,-2.003 -1.475,-3.528 -3.797,-3.528 -2.322,0 -3.841,1.524 -3.841,3.528 0,1.961 1.474,3.531 3.753,3.531 z m 3.395,23.215 V 24.21 H 16.065 V 44.637 Z M 0.5,0.5 h 60 v 60 h -60 z" />
                </svg>
            </a>
        </li>
        <li class="c-social-network__icon">
            <a href="https://www.facebook.com/nucleomap/"
               target="_blank"
               class="c-social-network__link">
                <svg viewBox=" 0 0 61 61">
                    <path class="c-social-network__item"
                          d="m 26.265,46.82 h 6.744 V 30.498 h 4.499 l 0.596,-5.624 h -5.095 l 0.007,-2.816 c 0,-1.466 0.14,-2.253 2.244,-2.253 h 2.812 V 14.18 h -4.5 c -5.405,0 -7.307,2.729 -7.307,7.317 v 3.377 h -3.369 v 5.625 h 3.369 z M 0.5,0.5 h 60 v 60 h -60 z" />
                </svg>
            </a>
        </li>
        <li class="c-social-network__icon">
            <a href="https://www.instagram.com/nucleomap/"
               target="_blank"
               class="c-social-network__link">
                <svg viewBox=" 0 0 61 61">
                    <path class="c-social-network__item"
                          d="m 41.771,23.078 v -0.006 c 0.502,0 1.005,0.01 1.508,-0.002 0.646,-0.016 1.172,-0.57 1.172,-1.217 0,-0.963 0,-1.927 0,-2.89 0,-0.691 -0.547,-1.24 -1.236,-1.241 -0.961,0 -1.922,-0.001 -2.883,0 -0.688,10e-4 -1.236,0.552 -1.236,1.243 -10e-4,0.955 -0.004,1.91 0.003,2.865 0.001,0.143 0.028,0.291 0.073,0.426 0.173,0.508 0.639,0.82 1.209,0.823 0.463,0 0.927,-0.001 1.39,-0.001 z M 32.5,24.317 c -3.384,-0.002 -6.135,2.721 -6.182,6.089 -0.049,3.46 2.72,6.201 6.04,6.272 3.454,0.074 6.248,-2.686 6.321,-6.043 0.075,-3.46 -2.717,-6.32 -6.179,-6.318 z m -11.954,3.299 v 0.082 c 0,4.515 -10e-4,9.03 0,13.545 0,0.649 0.562,1.208 1.212,1.208 7.16,10e-4 14.319,10e-4 21.479,0 0.656,0 1.215,-0.557 1.215,-1.212 0.001,-4.509 0,-9.02 0,-13.528 V 27.617 H 41.54 c 0.411,1.314 0.537,2.651 0.376,4.014 -0.161,1.363 -0.601,2.631 -1.316,3.803 -0.715,1.172 -1.644,2.145 -2.779,2.918 -2.944,2.006 -6.821,2.182 -9.946,0.428 -1.579,-0.885 -2.819,-2.12 -3.685,-3.713 -1.289,-2.373 -1.495,-4.865 -0.739,-7.451 -0.968,0 -1.93,0 -2.905,0 z m 24.159,18.139 c 0.159,-0.026 0.318,-0.049 0.475,-0.083 1.246,-0.265 2.264,-1.304 2.508,-2.557 0.025,-0.137 0.045,-0.273 0.067,-0.409 V 18.294 c -0.021,-0.133 -0.04,-0.268 -0.065,-0.401 -0.268,-1.367 -1.396,-2.428 -2.78,-2.618 -0.058,-0.007 -0.113,-0.02 -0.17,-0.03 H 20.261 c -0.147,0.027 -0.296,0.047 -0.441,0.08 -1.352,0.308 -2.352,1.396 -2.545,2.766 -0.008,0.057 -0.02,0.114 -0.029,0.171 V 42.74 c 0.028,0.154 0.05,0.311 0.085,0.465 0.299,1.322 1.427,2.347 2.77,2.52 0.064,0.008 0.13,0.021 0.195,0.03 z M 0.5,0.5 h 60 v 60 h -60 z" />
                </svg>
            </a>
        </li>
        <li class="c-social-network__icon">
            <a href="https://www.youtube.com/"
               target="_blank"
               class="c-social-network__link">
                <svg viewBox=" 0 0 61 61">
                    <path class="c-social-network__item"
                          d="M 36.2,30.2975 25.955,25.1 a 0.4125,0.4125 0 0 0 -0.6,0.3675 v 10.08 a 0.4125,0.4125 0 0 0 0.585,0.3675 l 10.245,-4.8825 a 0.4125,0.4125 0 0 0 0.015,-0.735 z" />
                    <path class="c-social-network__item"
                          d="m 0.5,0.5 v 60 h 60 v -60 z m 48.75,35.475 a
							7.7775,7.7775 0 0 1 -7.8,7.7775 h -21.9 a 7.7775,7.7775 0 0 1 -7.8,-7.7775 v -10.95 a
							7.7775,7.7775 0 0 1 7.8,-7.7775 h 21.9 a 7.7775,7.7775 0 0 1 7.8,7.7775 z" />
                </svg>
            </a>
        </li>
    </ul>
</div>

<p class="c-copyright">
    Copyright &copy; -
    @DateTimeOffset.UtcNow.Year
    Núcleo MAP -  Todos os direitos reservados.
</p>