@inherits LayoutComponentBase
@inject IJSRuntime JS
@implements IAsyncDisposable

<header data-reactroot role="banner" class="l-header" js-sticky js-header>
    <NavMenu @rendermode="InteractiveServer" />
</header>

<div js-fake class="l-fake"></div>

<main class="l-main">

    @Body
</main>

<footer class="l-footer">
    <MainFooter />
</footer>

<FooterLine />

@code {
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Layout/MainLayout.razor.js");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}