
<h1 style="display: none">sync</h1>
<h2 style="display: none">Uma nova era em utomação.</h2>
<h1 style="display: none">Menu Principal</h1>
<a href="/" class="c-logo js-logo-open-menu">
    <svg js-sticky js-header class="c-logo__image js-logo-open-menu"
         viewBox="0 0 1921 380">
        <g class="c-logo__map">
            <path d="m 1474.0858,268.99331 h -45.1365 V 166.9469 157.79371 c 0,-10.46665 -3.1673,-18.08746 -9.4816,-22.89665 -6.3347,-4.78866 -13.4151,-7.18983 -21.2616,-7.18983 -7.8535,0 -14.8312,2.40117 -20.9333,7.18983 -6.109,4.80919 -9.1532,12.43 -9.1532,22.89665 v 111.1996 h -45.7934 V 166.9469 c 0,-29.64866 7.7372,-49.48057 23.2251,-59.52308 15.4743,-10.021989 32.5903,-15.474227 51.3481,-16.356707 10.022,0 19.8388,1.094547 29.4366,3.276814 9.5773,2.189103 18.3133,6.546783 26.1529,13.079893 6.5537,-5.65746 14.2908,-9.700465 23.2251,-12.101637 8.941,-2.387491 18.2106,-3.810403 27.8084,-4.25507 19.1821,0 36.8385,5.028097 52.9764,15.043247 16.1241,10.04251 24.2101,30.31908 24.2101,60.83654 v 102.04641 h -22.9036 c -6.5331,0 -11.8827,-2.06596 -16.0215,-6.21158 -4.1524,-4.14561 -6.2116,-9.48839 -6.2116,-16.02834 v -88.95968 c 0,-10.46665 -3.1673,-18.08746 -9.4814,-22.89665 -6.3348,-4.78866 -13.4152,-7.18983 -21.2618,-7.18983 -7.8533,0 -14.9474,2.40117 -21.2548,7.18983 -6.3346,4.80919 -9.4884,12.43 -9.4884,22.89665 v 9.15319 z" />
            <path d="m 1700.5588,181.33684 c -6.109,3.0579 -14.6055,5.89005 -25.5099,8.51013 l -15.0433,3.26998 c -7.8466,2.18226 -13.5176,5.01441 -17.0066,8.50329 -3.0442,4.80235 -4.5697,9.59101 -4.5697,14.38652 0,6.53994 1.9496,11.77327 5.8764,15.69997 3.9335,3.49573 9.5979,5.24017 17.0133,5.24017 12.1907,0 21.8022,-3.48889 28.7799,-10.47349 6.9709,-6.96409 10.4599,-16.56878 10.4599,-28.77987 z m 10.4734,80.46322 c -9.1668,4.80234 -18.8673,7.73711 -29.115,8.83166 -10.2478,1.08087 -19.2915,1.62815 -27.1448,1.62815 -15.6864,0 -29.4367,-4.24823 -41.2099,-12.74469 -11.7733,-8.51014 -17.6633,-22.56828 -17.6633,-42.19496 0,-18.32006 5.3426,-31.39995 16.035,-39.25336 10.672,-7.84656 24.306,-13.07989 40.8816,-15.69313 2.1823,0 4.7887,-0.32837 7.8466,-0.9851 3.0442,-0.65673 6.5468,-1.19032 10.4598,-1.62814 19.1888,-2.62009 28.7799,-8.28439 28.7799,-17.01344 0,-6.54679 -3.3795,-10.79501 -10.1247,-12.75837 -6.7725,-1.95651 -12.9909,-2.9416 -18.6552,-2.9416 -6.1021,0 -11.5544,0.88248 -16.3498,2.62008 -4.8024,1.74444 -8.2844,5.02125 -10.4667,9.80992 h -43.8232 c 1.7376,-13.51087 7.8603,-24.63425 18.3201,-33.3633 11.7732,-10.02199 28.5542,-15.04324 50.3699,-15.04324 24.4085,0 42.7285,4.152449 54.9396,12.43 12.6421,8.72904 18.9768,20.93329 18.9768,36.63327 v 59.52308 c 0,17.45126 -3.1811,31.07158 -9.4884,40.8815 -6.3347,9.80992 -13.8529,16.90398 -22.5683,21.26167" />
            <path d="m 1875.3634,182.64619 c 0,-16.99975 -3.263,-30.08648 -9.8098,-39.23967 -6.5468,-9.16003 -15.9258,-13.73662 -28.1232,-13.73662 -11.7732,0 -20.9334,4.57659 -27.4732,13.73662 -6.1159,8.28439 -9.16,21.36428 -9.16,39.23967 0,16.58246 3.2698,29.00562 9.8166,37.29001 6.5332,9.15318 15.9122,13.73662 28.1232,13.73662 11.3355,0 20.2698,-4.58344 26.8166,-13.73662 6.5468,-9.16003 9.8098,-21.59003 9.8098,-37.29001 m -74.5662,128.21304 c 0,6.09528 -2.1823,11.3286 -6.5332,15.69998 -4.3714,4.344 -9.5979,6.5331 -15.7,6.5331 h -22.2467 V 170.22303 c 0,-30.51746 8.9343,-51.34815 26.8301,-62.46469 17.8618,-11.12338 37.2695,-16.691907 58.2096,-16.691907 10.8908,0 21.9116,2.086486 33.0282,6.218418 11.1302,4.152459 19.9482,10.138289 26.4949,17.991689 13.0868,17.0066 19.6199,38.81554 19.6199,65.41314 0,27.46641 -6.5331,49.70633 -19.6199,66.71976 -13.0935,16.58246 -29.8744,24.85316 -50.3699,24.85316 -10.9044,0 -20.509,-1.96335 -28.7798,-5.88321 -8.7222,-4.35084 -15.6999,-11.12338 -20.9332,-20.28341 z" />
        </g>
        <g class="c-logo__nucleo">
            <path d="m 565.80296,268.99331 h -22.9035 c -6.53994,0 -11.88272,-2.06596 -16.01465,-6.21158 -4.1593,-4.14561 -6.21843,-9.48839 -6.21843,-16.02834 v -88.95968 c 0,-10.46665 -3.1742,-18.08746 -9.48155,-22.89665 -6.33472,-4.78866 -13.41509,-7.18983 -21.26166,-7.18983 -7.8534,0 -14.83118,2.40117 -20.9333,7.18983 -6.10897,4.80919 -9.15319,12.43 -9.15319,22.89665 v 111.1996 h -45.7933 V 166.9469 c 0,-29.64866 7.73712,-49.48057 23.21817,-59.52308 15.48107,-10.021989 32.59712,-15.474227 51.355,-16.356707 19.18202,0 36.84534,5.028097 52.96946,15.043247 16.13095,10.04251 24.21695,30.31908 24.21695,60.83654 z" />
            <path d="m 702.00759,38.090817 -39.8964,41.203029 h -20.93331 l 18.31323,-33.363308 c 0.43097,-1.299774 1.86073,-2.93476 4.25506,-4.898107 2.39434,-1.96336 5.56168,-2.941614 9.48155,-2.941614 z m 29.44344,56.903 V 197.03339 c 0,30.97581 -8.07916,51.25922 -24.20328,60.83654 -16.14463,9.59785 -33.80796,14.38652 -52.98314,14.38652 -18.75786,-0.8688 -35.88076,-6.09529 -51.34814,-15.69314 -15.49475,-9.58416 -23.22502,-29.43659 -23.22502,-59.52992 V 94.993817 h 45.78646 V 206.20026 c 0,10.46665 3.05106,18.10115 9.16002,22.88981 6.10214,4.80919 13.0799,7.20352 20.93331,7.20352 7.84656,0 14.93379,-2.39433 21.25483,-7.20352 6.31419,-4.78866 9.48839,-12.42316 9.48839,-22.88981 v -88.96652 c 0,-6.09529 2.06597,-11.33545 6.21158,-15.69314 4.13878,-4.350838 9.48155,-6.546783 16.02834,-6.546783 z" />
            <path d="m 866.3504,215.35413 h 32.70657 c -4.80918,18.32006 -13.96237,32.28243 -27.46641,41.85976 -13.52455,10.04251 -30.53115,15.04324 -51.03346,15.04324 -24.84632,0 -44.26777,-8.05179 -58.20963,-24.19643 -13.96237,-15.69997 -20.93329,-38.1588 -20.93329,-67.36965 0,-27.90422 6.75885,-49.71317 20.27656,-65.41314 13.94869,-16.124112 33.36331,-24.210117 58.20963,-24.210117 26.17345,0 46.45003,7.853413 60.84338,23.553387 7.85341,9.59785 13.50404,20.71439 16.99976,33.35646 h -45.78646 c -2.18227,-4.344 -4.35769,-7.62082 -6.53995,-9.80992 -5.67114,-6.10212 -13.72978,-9.15319 -24.20328,-9.15319 -9.591,0 -17.44441,3.05107 -23.54653,9.15319 -7.85342,8.72905 -11.77327,23.1224 -11.77327,43.16638 0,20.07134 3.91985,34.24578 11.77327,42.52333 5.66431,6.9846 14.1676,10.46665 25.50989,10.46665 7.41559,0 13.73662,-1.51869 18.97679,-4.5766 1.30661,-0.43098 2.49695,-1.19716 3.59149,-2.28487 1.08087,-1.08771 2.29172,-2.29172 3.59834,-3.60518 0.8688,-1.30662 2.61325,-3.04422 5.23333,-5.22649 2.62008,-2.18226 6.53311,-3.27681 11.77327,-3.27681" />
            <path d="m 914.90539,43.976764 h 23.55339 c 6.10896,0 11.33544,2.079654 15.69997,6.211587 4.35768,4.152454 6.53309,9.276321 6.53309,15.371601 V 268.99605 h -45.78645 z" />
            <path d="m 1017.7597,164.33434 h 66.7266 c -0.8825,-11.78011 -3.9267,-20.48863 -9.1668,-26.16662 -5.6643,-6.10212 -13.7367,-9.15319 -24.1965,-9.15319 -9.591,0 -17.4512,3.05107 -23.5397,9.15319 -6.1226,6.11581 -9.3994,14.83118 -9.8236,26.16662 m 78.4999,51.01979 h 32.7066 c -4.8092,18.32006 -13.9624,32.28243 -27.4733,41.85976 -13.5177,10.04251 -30.5311,15.04324 -51.0266,15.04324 -24.8532,0 -44.2609,-8.05179 -58.21647,-24.19643 -13.96237,-15.69997 -20.93329,-38.1588 -20.93329,-67.36965 0,-27.90422 6.75885,-49.71317 20.2834,-65.41314 13.94866,-16.124112 33.36326,-24.210117 58.21646,-24.210117 26.1598,0 46.4432,7.853413 60.8297,23.553387 13.9487,16.14464 20.9402,38.58978 20.9402,67.36965 v 4.58343 2.62009 c 0,2.18226 -0.2326,3.70779 -0.6568,4.57659 h -113.1698 c 0.4242,13.51771 3.701,23.54654 9.8236,30.08649 5.6507,6.9846 14.1608,10.46665 25.5031,10.46665 7.4156,0 13.7366,-1.51869 18.9699,-4.5766 1.3135,-0.43098 2.5038,-1.19716 3.5984,-2.28487 1.0808,-1.08771 2.2848,-2.29172 3.5915,-3.60518 0.4309,-1.30662 2.0728,-3.04422 4.9049,-5.22649 2.8322,-2.18226 6.8683,-3.27681 12.1085,-3.27681" />
            <path d="m 1198.4572,138.16635 c -9.1532,10.04251 -13.3057,24.96946 -12.4232,44.81505 0.8688,19.83875 4.5835,33.68482 11.1166,41.53139 2.6132,3.49572 7.1966,6.43733 13.7297,8.83166 6.5468,2.40118 13.1894,2.61325 19.9482,0.64989 6.7657,-1.95651 12.7653,-6.86831 17.9986,-14.71487 5.2265,-7.85341 8.0586,-20.49548 8.4964,-37.9399 0,-15.69313 -2.5106,-27.47324 -7.5182,-35.31981 -5.0144,-7.85341 -10.795,-12.85414 -17.3281,-15.04324 -6.5468,-2.17542 -13.0799,-2.29856 -19.6267,-0.33521 -6.5399,1.97019 -11.3491,4.48082 -14.3933,7.52504 m -31.4,115.12631 c -9.1531,-7.84657 -15.6999,-18.41583 -19.6266,-31.72832 -3.9131,-13.29196 -5.8764,-27.13804 -5.8764,-41.53139 0,-11.78011 1.6281,-23.54654 4.8981,-35.31981 3.2768,-11.78011 8.3938,-21.59003 15.3785,-29.4366 11.3354,-13.08673 25.9408,-20.823841 43.8299,-23.218173 17.8617,-2.394334 33.9995,-0.991934 48.3929,4.248228 16.5687,6.539945 28.7798,17.889075 36.6332,34.020035 7.4156,14.38651 11.1166,31.17419 11.1166,50.36305 0,13.95553 -1.5324,25.94772 -4.5698,35.97654 -3.0579,10.02883 -6.9914,18.53897 -11.7801,25.50306 -10.4598,14.39335 -23.7723,23.34131 -39.9032,26.82335 -14.3865,3.91986 -28.8962,4.25507 -43.5016,0.9851 -14.6123,-3.27682 -26.2624,-8.83167 -34.9915,-16.68507" />
        </g>
        <g class="c-logo__box-gear">
            <path class="c-logo__gear"
                  d="M 123.78061,75.829593 C 185.83484,40.010391 265.6687,61.402032 301.50158,123.44942 337.32763,185.5105 315.94282,265.34435 253.88859,301.17039 191.82067,337.01011 111.98682,315.61163 76.160775,253.55056 40.334733,191.49633 61.719534,111.65563 123.78061,75.829593 m -29.108232,-50.41095 14.427562,-8.325427 27.82213,24.682135 c 7.7508,-2.743227 15.61788,-4.822867 23.54655,-6.279987 l 11.71169,-35.32665528 16.65087,0.0205333 h 16.65771 L 217.27583,35.61851 c 7.94919,1.491334 15.78207,3.584654 23.40288,6.273147 l 27.89739,-24.798427 14.40704,8.325427 14.43439,8.33228 -7.48399,36.469082 c 6.13632,5.2128 11.90324,10.96604 17.23919,17.204987 l 36.42804,-7.49768 8.31859,14.420719 8.3186,14.427555 -24.68899,27.82214 c 2.73639,7.75079 4.82287,15.61104 6.28,23.5397 l 35.32664,11.72538 -0.0137,16.64402 -0.007,16.65771 -35.42926,11.78695 c -1.47764,7.94919 -3.58466,15.78207 -6.26631,23.40289 l 24.80528,27.89054 -8.32544,14.41387 -8.33911,14.42756 -36.46225,-7.484 c -5.22648,6.14318 -10.97972,11.9101 -17.22551,17.25287 l 7.51136,36.42122 -14.42071,8.31174 -14.4344,8.31859 -27.80845,-24.68213 c -7.74395,2.73637 -15.62472,4.82286 -23.56023,6.27998 l -11.70485,35.32666 -16.64403,-0.0205 -16.66455,-0.007 -11.78011,-35.42243 c -7.95602,-1.47764 -15.78206,-3.58465 -23.40288,-6.27315 l -27.89739,24.81211 -14.413872,-8.33227 -14.427558,-8.33228 7.477155,-36.46908 c -6.129488,-5.2128 -11.903248,-10.96604 -17.246029,-17.22551 l -36.421203,7.5182 -8.311751,-14.42072 -8.325434,-14.4344 24.69582,-27.80845 C 39.370279,232.67216 37.28379,224.79139 35.833509,216.86273 L 0.50001579,205.14419 0.51369765,188.507 V 171.83562 L 35.949805,160.06235 c 1.484486,-7.95603 3.584657,-15.78207 6.266308,-23.40973 l -24.798435,-27.90422 8.325434,-14.400195 8.332274,-14.427559 36.46225,7.47716 C 75.757279,81.261473 81.510515,75.480872 87.763141,70.151779 L 80.25178,33.737417 Z" />
            <path class="c-logo__cicle"
                  d="m 127.63548,291.64027 0.0479,-0.0411 c 35.86025,21.09748 81.79036,22.89664 120.27752,0.67726 56.88932,-32.8434 76.49548,-106.02785 43.65894,-162.91717 -4.40558,-7.60714 -9.51576,-14.5507 -15.22111,-20.7828 l -18.26534,18.25165 -7.55924,7.57293 -17.29392,17.28023 c 2.07282,2.49695 3.96775,5.20596 5.65747,8.10652 16.07623,27.86318 6.47153,63.70975 -21.39164,79.79965 -13.75715,7.94919 -29.4708,9.61838 -43.77523,5.91742 l 68.63523,-68.63522 h -49.58319 l 32.81603,-32.82284 17.28707,-17.29391 c -25.93403,-22.67775 -64.54434,-27.610069 -95.98533,-9.45419 -36.96848,21.33691 -51.252382,67.2123 -34.2321,105.38479 l -8.01759,8.00391 c -21.84315,-43.77522 -6.006357,-97.85975 36.92059,-122.63767 35.69606,-20.611767 79.59443,-14.858533 108.87368,11.14391 6.08844,-6.0816 12.17688,-12.16321 18.25848,-18.25165 -6.15001,-5.616417 -12.7652,-10.487173 -19.70876,-14.598587 l -0.0411,0.05467 C 213.13365,65.293779 167.19668,63.487765 128.70267,85.714006 71.827033,118.55055 52.214037,191.73501 85.057426,248.63117 c 3.427315,5.91742 7.292449,11.4449 11.526996,16.53457 h 0.0068 c 1.190324,1.4366 2.421695,2.85267 3.694108,4.24138 l 18.25165,-18.25158 7.55925,-7.56608 17.29392,-17.28708 c -2.07281,-2.49694 -3.96776,-5.19912 -5.64379,-8.09284 -16.08991,-27.87002 -6.47838,-63.72342 21.37796,-79.80649 13.76399,-7.94918 29.4708,-9.61837 43.78891,-5.9311 l -68.64887,68.6489 h 49.59687 l -32.82971,32.82287 -17.28707,17.28707 c 25.94771,22.68459 64.54434,27.61007 95.99217,9.46787 36.9548,-21.35059 51.25238,-67.22599 34.23211,-105.39163 l 8.01075,-8.01759 c 21.84314,43.78206 6.00634,97.87343 -36.90691,122.65819 -35.70975,20.59809 -79.60127,14.84485 -108.88053,-11.16443 -6.09528,6.09528 -12.18372,12.18373 -18.26533,18.27217 6.15686,5.62326 12.75837,10.48033 19.70877,14.5849" />
            <path class="c-logo__ray"
                  d="m 202.91258,132.47468 -68.64891,68.64207 h 49.59687 l -32.82971,32.82287 22.73931,11.5612 68.63523,-68.63523 h -49.58319 l 32.81603,-32.82286 z" />
        </g>
    </svg>
</a>

<div js-sticky class="c-menu">
    <nav class="c-menu__list js-menu">
        <div class="c-menu__item">
            <NavLink class="c-link-frame c-link-skin" Match="NavLinkMatch.All" @onclick='() => ToggleNavMenu(MenuItem.Products)'>
                <span>produtos</span>
            </NavLink>
        </div>
        <div class="c-menu__item">
            <NavLink class="c-link-frame c-link-skin" @onclick='() => ToggleNavMenu(MenuItem.Services)'>
                <span>serviços</span>
            </NavLink>
        </div>
        <div class="c-menu__item">
            <NavLink class="c-link-frame c-link-skin" @onclick='() => ToggleNavMenu(MenuItem.Company)'>
                <span>empresa</span>
            </NavLink>
        </div>
    </nav>
</div>
<nav js-menu-flyout class="@NavMenuCssClass c-menu-flyout js-menu-flyout" @onclick='() => ToggleNavMenu(MenuItem.None)'>
    <ul js-menu-item
        class="@ProductMenuCssClass c-menu-flyout__content js-menu-item js-products">
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="nestingcnc">Nesting CNC</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="plasmacnc">Plasma CNC</a>
        </li>
    </ul>

    <ul js-menu-item
        class="@ServiceMenuCssClass c-menu-flyout__content js-menu-item js-service">
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="automacaoindustrial">Automação industrial</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="automacaoresidencial">Automação residencial</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="projetoeletrico">Projeto elétrico</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="projetomecanico">Projeto mecânico</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="robotica">Robótica</a>
        </li>
    </ul>

    <ul js-menu-item
        class="@CompanyMenuCssClass c-menu-flyout__content js-menu-item js-company">
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="sobrenos">Sobre nós</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="contato">Contato</a>
        </li>
        <li class="c-menu-flyout__item">
            <a class="c-menu-flyout__link" href="localizacao">Localização</a>
        </li>
    </ul>

    <div js-button-close class="@NavMenuCssClass c-menu-flyout__close">
        <button class="c-menu-flyout__button" @onclick='() => ToggleNavMenu(MenuItem.None)'>
            <svg class="c-menu-flyout__icon" viewBox="0 0 16.933333 16.933333">
                <g>
                    <path class="c-menu-flyout__stroke" d="M 0,0 16.933333,16.933333" />
                    <path class="c-menu-flyout__stroke" d="M 0,16.933333 16.933333,0" />
                </g>
            </svg>
        </button>
    </div>
</nav>
@* <nav js-sticky class="c-menu-mobile is-hidden js-menu-mobile"> *@
@*     <ul class="c-menu-mobile__list"> *@
@*         <li class="c-menu-mobile__item"> *@
@*             <button class="c-menu-mobile__link" onclick="openMenuMobile('products')"> *@
@*                 produtos *@
@*             </button> *@
@*         </li> *@
@*         <li class="c-menu-mobile__item"> *@
@*             <button class="c-menu-mobile__link" onclick="openMenuMobile('service')"> *@
@*                 serviços *@
@*             </button> *@
@*         </li> *@
@*         <li class="c-menu-mobile__item"> *@
@*             <button class="c-menu-mobile__link" onclick="openMenuMobile('company')"> *@
@*                 empresa *@
@*             </button> *@
@*         </li> *@
@*     </ul> *@
@* </nav> *@

@* <nav js-menu-mobile-flyout *@
@*      class="c-menu-mobile-flyout is-hidden js-menu-mobile-flyout"> *@
@*     <ul js-menu-mobile-item *@
@*         class="c-menu-mobile-flyout__list is-hidden js-menu-mobile-item js-mobile-products"> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="nestingcnc">Nesting CNC</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="plasmacnc">Plasma CNC</a> *@
@*         </li> *@
@*     </ul> *@

@*     <ul js-menu-mobile-item *@
@*         class="c-menu-mobile-flyout__list is-hidden js-menu-mobile-item js-mobile-service"> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="automacaoindustrial">Automação industrial</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="automacaoresidencial">Automação residencial</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="projetoeletrico">Projeto elétrico</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="projetomecanico">Projeto mecânico</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="robotica">Robótica</a> *@
@*         </li> *@
@*     </ul> *@

@*     <ul js-menu-mobile-item *@
@*         class="c-menu-mobile-flyout__list is-hidden js-menu-mobile-item js-mobile-company"> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="sobreNos">Sobre nós</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="contato">Contato</a> *@
@*         </li> *@
@*         <li class="c-menu-mobile-flyout__item"> *@
@*             <a class="c-menu-mobile-flyout__link" href="localizacao">Localização</a> *@
@*         </li> *@
@*     </ul> *@
@* </nav> *@
<button class="c-button-mobile" onclick="buttonMobileMenu()">
    <div js-button-mobile class="c-button-mobile__slice-up"></div>
    <div js-button-mobile class="c-button-mobile__slice-middle"></div>
    <div js-button-mobile class="c-button-mobile__slice-down"></div>
</button>
<section js-sticky class="c-line-header">
    <svg class="c-line-header__full">
        <g js-sticky__straight-big class="c-line-header__item">
            <line x1="0" x2="100%" y2="5" y1="5"></line>
        </g>
    </svg>
    <svg class="c-line-header__right">
        <g js-sticky__crooked
           class="c-line-header__item c-line-header__item--color">
            <line x1="0" x2="43.75" y1="15" y2="15"></line>
            <line x1="43.75" x2="81.25" y1="15" y2="-5"></line>
            <line x1="81.25" x2="100%" y1="-5" y2="-5"></line>
        </g>
        <g js-sticky__straight-small class="c-line-header__item">
            <line x1="0" x2="100%" y1="5" y2="5"></line>
        </g>
    </svg>
</section>