<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Site Núcleo MAP
    Autor: Emerson Martins Brito
    Data: 2025/02/28 -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fabricação de máquinas CNC, Nesting CNC, Controle númerico computadorizado, Máquinas robustas e precisas, qualidade, tecnologia e inovação, série STNU, série PRNU" />
    <meta name="description" content="Programação de robôs, especialista em KUKA Robotcs, Denso Robotics, Universal Robots, ABB, Omron, Yaskawa, Mitsubishi" />
    <meta name="description" content="Start-up de máquinas, especialista em Rockwell Automation, Allen Bradley, B&R Automation, Omron, Yaskawa, Beckhoff, Mitsubishi." />
    <meta name="description" content="Projetos elétricos" />
    <meta name="description" content="Projetos mecânicos" />
    <meta name="description" content="Automação Industrial, Industria 4.0, Internet das Coisas, IOT" />
    <meta name="description" content="Automação Residencial, Domótica" />
    <meta name="geo.region" content="BR-PR" />
    <meta name="geo.placename" content="Curitiba" />
    <meta name="geo.position" content="-25.43711;-49.329101" />
    <meta name="ICBM" content="-25.43711, -49.329101" />
    <title>sync</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.min.css"]" />
    <link rel="stylesheet" href="@Assets["Sync.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <div class="c-error-ui">
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="c-error-ui__dismiss">🗙</span>
    </div>
    <Routes />
    <script src="js/sticky.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
