@page "/automacaoresidencial"
<PageTitle>Automação residencial</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">
            <strong class="c-title__company1">NÚCLEO</strong>
            <strong class="c-title__company2">MAP</strong>
            <em>Automação residencial</em>
        </h1>
        <p class="c-impact">
            A chave para a produtividade. Conheça os benefícios e soluções oferecidos
            pela Núcleo MAP.
        </p>
        <p class="c-text">
            A automação industrial é um dos principais pilares da indústria 4.0,
            permitindo uma produção mais eficiente e produtiva. Com a automação, é
            possível reduzir custos, aumentar a qualidade do produto final, agilizar
            processos e garantir a segurança dos trabalhadores. A Núcleo MAP é uma
            empresa especializada em automação industrial, oferecendo soluções
            personalizadas para as mais diversas demandas do mercado. Nossa equipe de
            profissionais altamente capacitados trabalha com as melhores tecnologias
            disponíveis, visando sempre a melhoria contínua dos processos de nossos
            clientes. Entre as soluções oferecidas pela Núcleo MAP, destacam-se:
            <br />
            - Automação de linhas de produção: desenvolvemos projetos de automação
            personalizados para atender às necessidades específicas de cada cliente,
            otimizando a produção e reduzindo custos. <br />
            - Sistemas de controle de qualidade: implementamos sistemas de inspeção e
            controle de qualidade para garantir a excelência dos produtos finais.
            <br />
            - Robótica industrial: trabalhamos com robôs industriais de última
            geração, capazes de executar tarefas complexas e repetitivas com precisão
            e segurança. <br />
            - Sistemas de monitoramento: oferecemos soluções de monitoramento de
            processos industriais em tempo real, permitindo o acompanhamento e
            controle de todas as etapas do processo. <br />
            Investir em automação industrial é uma das melhores decisões que uma
            empresa pode tomar para aumentar sua produtividade e competitividade no
            mercado. A Núcleo MAP é sua parceira ideal nesse processo, oferecendo
            soluções personalizadas e suporte técnico de alta qualidade. Entre em
            contato conosco e saiba mais sobre como podemos ajudar a sua empresa a
            alcançar novos patamares de eficiência e lucratividade.
        </p>
    </article>
    <figure class="c-image">
        <picture class="c-image-wrap">
            <img srcset="img/automacaoresidencial/automacaoresidencial.svg"
                 alt="Ilustração automação industrial Núcleo MAP"
                 class="c-image-item" />
        </picture>
    </figure>
    <article class="c-highlights">
        <h2 class="c-subtitle">Destaques:</h2>
        <ul class="c-highlights__list">
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Redução de custos</strong> e aumento da eficiência produtiva.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Controle de qualidade automatizado</strong> e garantia da
                    excelência do produto final.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Robôs industriais de última geração</strong> para tarefas
                    complexas e repetitivas.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Monitoramento em tempo real</strong> de todos os processos
                    industriais.
                </p>
            </li>
        </ul>
    </article>
</div>
