@page "/maquinas"
<PageTitle>Máquinas</PageTitle>
<h2>Bem-vindo a<strong class="c-title__company1">NÚCLEO</strong> <strong class="c-title__company2">MAP</strong></h2>
<h3>Automação industrial</h3>
<p>
    Construído em uma estrutura que facilita a leitura do software e até mesmo
    fa-cilitando o diagnóstico de possíveis falhas no equipamento, toda
    programação traz embarcado informações de condições gerais do equipamento,
    histórico de falhas, disponibilidade de produção e informações de
    produtividade. Sempre visando o me-lhor funcionamento do equipamento e a
    prevenção de possíveis falhas. Com nossa experiencia na área procuramos sempre
    reduzir os custos, aumentar a qualidade e a produtividade da linha de produção
    seja qual for o tamanho dela.
</p>
<h3>Missão</h3>
<p>
    Propor soluções que se encaixem perfeitamente no perfil de cada cliente,
    bus-cando viabilidade, prazo e demanda do projeto.
</p>
