@page "/nestingcnc"
<PageTitle>Nesting CNC</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">
            <strong class="c-title__company1">NÚCLEO</strong>
            <strong class="c-title__company2">MAP</strong> <em>Nesting CNC</em>
        </h1>
        <p class="c-impact">
            A solução ideal para otimizar a produção industrial. Descubra como a
            Núcleo MAP pode ajudar a maximizar a eficiência e a produtividade da sua
            produção industrial com máquinas nesting CNC de alta qualidade.
        </p>
        <p class="c-text">
            As máquinas nesting CNC são uma das tecnologias mais avançadas para
            otimizar a produção industrial. Com sua capacidade de corte preciso e
            rápido, essas máquinas são capazes de cortar diversos materiais, como
            madeira, plástico, metal, entre outros, de forma eficiente e precisa. Na
            Núcleo MAP, oferecemos soluções personalizadas em máquinas nesting CNC
            para atender às necessidades de cada cliente. Nossas máquinas são
            desenvolvidas com tecnologia de ponta e com os mais altos padrões de
            qualidade, buscando sempre a eficiência e a produtividade na produção
            industrial. Nossas máquinas nesting CNC possuem software de programação
            intuitivo e fácil de usar, permitindo que o operador possa criar desenhos
            e projetos de corte de forma simples e rápida. Além disso, nossas soluções
            personalizadas levam em consideração as particularidades de cada projeto,
            buscando a máxima eficiência e produtividade. Entre os serviços oferecidos
            pela Núcleo MAP em máquinas nesting CNC, destacam-se: <br />
            - Consultoria técnica para seleção de máquinas.<br />
            - Venda e instalação de máquinas nesting CNC.<br />
            - Treinamento e suporte técnico para operação das máquinas.<br />
            - Serviços de manutenção e reparo<br />Investir em máquinas nesting CNC de
            qualidade é garantir a otimização da produção industrial, maximizando a
            eficiência e a produtividade. A Núcleo MAP é a empresa ideal para ajudar
            você a escolher a solução mais adequada às suas necessidades, com máquinas
            de corte precisas e confiáveis e suporte técnico de alta qualidade. Entre
            em contato conosco e descubra como podemos ajudar a otimizar a sua
            produção industrial.
        </p>
    </article>
    <figure class="c-image">
        <picture class="c-image-wrap">
            <img style="width: 100%; height: 100%"
                 srcset="img/nestingcnc/nestingcnc.svg"
                 alt="Ilustração de Nesting CNC Núcleo MAP"
                 class="c-image-item" />
        </picture>
    </figure>
    <article class="c-highlights">
        <h2 class="c-subtitle">Destaques</h2>
        <ul class="c-highlights__list">
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        >
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Máquinas nesting CNC de alta qualidade </strong>para
                    otimização da produção industrial.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        >
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Software de programação </strong>intuitivo e fácil de usar.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        >
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Soluções personalizadas </strong>para atender às necessidades
                    de cada projeto.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        >
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Suporte técnico especializado </strong>para operação,
                    manutenção e reparo das máquinas.
                </p>
            </li>
        </ul>
    </article>
</div>
