@page "/plasmacnc"
<PageTitle>Plasma CNC</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title"><strong class="c-title__company1">NÚCLEO</strong><strong class="c-title__company2">MAP</strong> <em>Plasma CNC</em></h1>
        <p class="c-impact">
            A tecnologia avançada que garante precisão e eficiência no corte de
            materiais. Descubra como a Núcleo MAP pode ajudar a maximizar a
            produtividade da sua industria com corte plasma CNC de alta qualidade
        </p>
        <p class="c-text">
            O corte plasma CNC é uma tecnologia avançada que tem revolucionado a
            produção industrial, garantindo maior precisão e eficiência no corte de
            materiais como metais, aços, alumínio, entre outros. Essa técnica de corte
            utiliza um jato de plasma de alta temperatura para derreter o material,
            realizando cortes precisos e de alta qualidade. Na Núcleo MAP, oferecemos
            soluções personalizadas em corte plasma CNC, que atendem às necessidades
            de cada cliente. Com profissionais altamente capacitados e experientes,
            buscamos oferecer a tecnologia mais avançada para otimizar a produção
            industrial e maximizar a eficiência. Nossas soluções de corte plasma CNC
            permitem um corte mais preciso e rápido, otimizando a produção industrial.
            Além disso, nossas soluções personalizadas levam em consideração as
            particularidades de cada projeto, buscando a máxima eficiência e
            produtividade. Entre os serviços oferecidos pela Núcleo MAP em corte
            plasma CNC, destacam-se: <br />
            - Consultoria técnica para seleção de máquinas.<br />
            - Venda e instalação de máquinas de corte plasma CNC.<br />
            - Treinamento e suporte técnico para operação das máquinas.<br />
            - Serviços de manutenção e reparo<br />Investir em corte plasma CNC de
            qualidade é garantir a otimização da produção industrial, maximizando a
            eficiência e a produtividade. A Núcleo MAP é a empresa ideal para ajudar
            você a escolher a solução mais adequada às suas necessidades, com máquinas
            de corte precisas e confiáveis e suporte técnico de alta qualidade. Entre
            em contato conosco e descubra como podemos ajudar a otimizar a sua
            produção industrial.
        </p>
    </article>
    <figure class="c-image">
        <picture class="c-image-wrap">
            <img style="width: 100%; height: 100%"
                 srcset="img/plasmacnc/PlasmaCNC.svg"
                 alt="Ilustração de Plasma CNC Núcleo MAP"
                 class="c-imagem-item" />
        </picture>
    </figure>
    <article class="c-highlights">
        <h2 class="c-subtitle">Destaques</h2>
        <ul class="c-highlights__list">
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Corte plasma CNC de alta qualidade </strong>para otimização da
                    produção industrial.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Tecnologia avançada </strong>para cortes precisos e eficientes
                    em materiais diversos.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Soluções personalizadas </strong>para atender às necessidades
                    de cada projeto.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Suporte técnico especializado </strong>para operação,
                    manutenção e reparo das máquinas.
                </p>
            </li>
        </ul>
    </article>
</div>
