@page "/servicos"
<PageTitle>Serviços</PageTitle>
<div class="">
    <header class="">
        <h1><strong></strong> <em>Serviços</em></h1>
        <span></span>
        <section>
            <h2></h2>
            <span></span>
        </section>
    </header>
    <!-- <div class="clServiceIndustrialAutomation">
          <a href="app/views/automacaoIndustrial.php" target="_self">
              <figure>
                  <img src="app/assets/image/imagem4.jpg" alt="Softaware Logix Designer"></img>
              </figure>
              <section>
                  <h4>Automação industrial</h4>
                  <span>Sempre buscando inovações, qualidade e agilidade.</span>
              </section>
              <span>Automação industrial</span>
          </a>
      </div>
      <div class="clServiceDomotica">
          <a href="app/views/automacaoresidencial.php" target="_self">
              <figure>
                  <img src="app/assets/image/imagem6.jpg" alt="Softaware Logix Designer">
              </figure>
              <section>
                  <h4>Automação residencial</h4>
                  <span>Segurança, qualidade, conforto e tecnologia.</span>
              </section>
              <span>Automação residencial</span>

          </a>
      </div>
      <div class="clServiceMechanicalDrawing">
          <a href="app/views/projetomecanico.php" target="_self">
              <figure>
                  <img src="app/assets/image/imagem4.jpg" alt="Softaware Logix Designer">
              </figure>
              <section>
                  <h4>Projeto completo</h4>
                  <span>Projeto em 3D, simulação de movimentos e documentação para manufatura.</span>
              </section>
              <span>Projeto mecânico</span>
          </a>
      </div>
      <div class="clServiceRobotic">
          <a href="app/views/robotica.php" target="_self">
              <figure>
                  <img src="app/assets/image/imagem6.jpg" alt="Softaware Logix Designer">
              </figure>
              <section>
                  <h4>Espertize</h4>
                  <span>Esperiência e espertize trabalhando juntos.</span>
              </section>
              <span>Robótica</span>
          </a>
      </div>
      <div class="clServiceElectricalDrawing">
          <a href="app/views/projetoeletrico.php" target="_self">
              <figure>
                  <img src="app/assets/image/imagem4.jpg" alt="Softaware Logix Designer">
              </figure>
              <section>
                  <h4>Documentação completa</h4>
                  <span>Tudo detalhado para facilitar a montagem e a manutenção.</h4>
              </section>
              <span>Projeto elétrico</span>
          </a>
      </div> -->
</div>