@page "/sobrenos"
<PageTitle>Sobre nós</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">Sejam bem-vindos a <strong class="c-title__company1">NÚCLEO</strong><strong class="c-title__company2">MAP</strong></h1>
        <p class="c-text">
            É uma honra estar aqui hoje para apresentar nossa empresa a vocês. Nós
            somos uma equipe de profissionais altamente qualificados e experientes em
            diversas áreas da tecnologia, com destaque para automação industrial,
            automação residencial e robótica. Mas, afinal, o que são essas áreas?
            Automação industrial é o uso de tecnologias para otimizar e automatizar
            processos industriais, aumentando a eficiência, reduzindo os custos e
            minimizando o erro humano. A automação residencial, por sua vez, é o uso
            de tecnologias para automatizar tarefas domésticas, melhorando a qualidade
            de vida, a segurança e a eficiência energética das residências. Já a
            robótica é a ciência que estuda a criação e utilização de robôs, ou seja,
            máquinas programáveis capazes de executar tarefas complexas com alta
            precisão e rapidez. Juntos, acumulamos mais de 20 anos de experiência no
            mercado, entregando soluções inovadoras e eficientes para nossos clientes
        </p>
        <h2 class="c-subtitle">Nossa história</h2>
        <p class="c-text">
            Nossa história é marcada por grandes projetos, desde o desenvolvimento de
            softwares de automação industrial para grandes empresas do setor, até a
            criação de sistemas de automação residencial para residências de alto
            padrão. Além disso, temos uma ampla experiência em projetos de robótica,
            desde a programação de pequenos robôs para a indústria até a criação de
            grandes sistemas robóticos para eventos e shows. Mas não é apenas nossa
            experiência que nos destaca. O que nos torna únicos é a forma como
            trabalhamos com nossos clientes. Somos comprometidos em entender suas
            necessidades e em entregar soluções personalizadas que atendam às suas
            demandas de forma eficiente e econômica. Nosso objetivo é fornecer
            serviços de alta qualidade que superem as expectativas de nossos clientes.
        </p>
        <h2 class="c-subtitle">Missão</h2>
        <p class="c-text">
            Nossa missão é simplificar a vida de nossos clientes, fornecendo soluções
            de tecnologia avançadas e inovadoras que agreguem valor a seus negócios e
            a suas vidas. Queremos ser reconhecidos como líderes em nosso setor,
            oferecendo serviços de alta qualidade e soluções inovadoras que
            impulsionem a produtividade e o sucesso de nossos clientes. Então, se você
            está procurando por soluções em automação industrial, automação
            residencial ou robótica, não hesite em entrar em contato conosco. Estamos
            ansiosos para trabalhar com você e para ajudá-lo a alcançar seus objetivos
            de negócios.
        </p>
    </article>
</div>
