@page "/empresa"
<PageTitle>Empresa</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">
            Bem-vindo a <strong class="c-title__company1">NÚCLEO</strong>
            <strong class="c-title__company2">MAP</strong>
        </h1>
        <h2 class="c-subtitle">Automação industrial</h2>
        <p class="c-text">
            Construído em uma estrutura que facilita a leitura do software e até mesmo
            fa-cilitando o diagnóstico de possíveis falhas no equipamento, toda
            programação traz embarcado informações de condições gerais do equipamento,
            histórico de falhas, disponibilidade de produção e informações de
            produtividade. Sempre visando o me-lhor funcionamento do equipamento e a
            prevenção de possíveis falhas. Com nossa experiencia na área procuramos
            sempre reduzir os custos, aumentar a qualidade e a produtividade da linha
            de produção seja qual for o tamanho dela.
        </p>
        <h2 class="c-subtitle">Missão</h2>
        <p class="c-text">
            Propor soluções que se encaixem perfeitamente no perfil de cada cliente,
            bus-cando viabilidade, prazo e demanda do projeto.
        </p>
    </article>
</div>
