@page "/projetoeletrico"
<PageTitle>Projeto elétrico</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">
            <strong class="c-title__company1">NÚCLEO</strong>
            <strong class="c-title__company2">MAP</strong>
            <em>Projeto Elétrico Industrial</em>
        </h1>
        <p class="c-impact">
            Garantindo a eficiência e confiabilidade das máquinas e equipamentos.
            Saiba como a Núcleo MAP pode ajudar a otimizar a eficiência e
            confiabilidade das máquinas e equipamentos industriais com soluções
            personalizadas em projetos elétricos.
        </p>
        <p class="c-text">
            Em um ambiente industrial, a eficiência e confiabilidade das máquinas e
            equipamentos são fundamentais para o sucesso da operação. Um projeto
            elétrico industrial bem elaborado é essencial para garantir a eficiência e
            segurança desses equipamentos, minimizando os riscos de falhas e
            maximizando a produtividade da operação. A Núcleo MAP é especializada em
            projetos elétricos industriais, oferecendo soluções personalizadas para
            atender às necessidades de cada cliente. Nossos profissionais são
            altamente capacitados e possuem vasta experiência em projetos para
            diversos segmentos industriais, incluindo automotivo, alimentício,
            químico, entre outros. Com base em nossas consultorias, análises e
            estudos, elaboramos projetos elétricos industriais que atendam às normas
            técnicas e legais vigentes, garantindo a segurança dos usuários e do
            patrimônio, bem como a eficiência energética da instalação. Nossas
            soluções personalizadas levam em consideração as particularidades de cada
            máquina ou equipamento, visando otimizar sua eficiência e confiabilidade.
            Entre os serviços oferecidos pela Núcleo MAP em projetos elétricos
            industriais, destacam-se: <br />
            - Elaboração de projetos elétricos para máquinas e equipamentos
            industriais. <br />
            - Análise de cargas elétricas e dimensionamento de equipamentos. <br />
            - Projetos de automação e controle de processos industriais <br />
            - Projetos de cabeamento estruturado e redes de telefonia e dados
            industriais <br />
            Investir em um projeto elétrico industrial de qualidade é garantir a
            eficiência e confiabilidade das máquinas e equipamentos, otimizando a
            produtividade e minimizando os riscos de falhas. A Núcleo MAP é a empresa
            ideal para ajudar você a otimizar a eficiência e confiabilidade das suas
            máquinas e equipamentos industriais, com soluções personalizadas e suporte
            técnico de alta qualidade. Entre em contato conosco e descubra como
            podemos ajudar no seu projeto.
        </p>
    </article>
    <figure class="c-image">
        <picture class="c-image-wrap">
            <img style="width: 100%; height: 100%"
                 srcset="img/projetoeletrico/ProjetoEletrico.svg"
                 alt="Ilustração projeto elétrico Núcleo MAP"
                 class="c-image-item" />
        </picture>
    </figure>
    <article class="c-highlights">
        <h2 class="c-subtitle">Destaques</h2>
        <ul class="c-highlights__list">
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Soluções personalizadas</strong> para otimização da eficiência
                    e confiabilidade das máquinas e equipamentos.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Elaboração de projetos elétricos</strong> para máquinas e
                    equipamentos industriais.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Projetos de automação e controle</strong> de processos
                    industriais.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Garantia de segurança e eficiência energética.</strong>
                </p>
            </li>
        </ul>
    </article>
</div>
