@page "/robotica"
<PageTitle>Robótica</PageTitle>
<div class="c-main">
    <article class="c-introduction">
        <h1 class="c-title">
            <strong class="c-title__company1">NÚCLEO</strong>
            <strong class="c-title__company2">MAP</strong>
            <em>Robótica Industrial </em>
        </h1>
        <p class="c-impact">
            O Futuro da Automação na Indústria. Descubra como a Núcleo MAP pode ajudar
            a implementar soluções de robótica industrial em sua empresa.
        </p>
        <p class="c-text">
            A robótica industrial tem sido cada vez mais utilizada como uma solução de
            automação na indústria, permitindo que processos sejam executados com mais
            eficiência, precisão e segurança. Os robôs industriais são capazes de
            realizar tarefas repetitivas e complexas de forma mais rápida e eficiente
            do que um ser humano, aumentando a produtividade e reduzindo os custos. A
            Núcleo MAP é uma empresa especializada em soluções de automação
            industrial, incluindo robótica. Oferecemos serviços de consultoria,
            projeto, implementação e manutenção de sistemas de robótica industrial,
            visando atender às necessidades específicas de cada cliente e segmento.
            Contamos com uma equipe de engenheiros e técnicos altamente capacitados e
            experientes em robótica industrial, que utilizam as mais modernas
            tecnologias e metodologias para desenvolver soluções personalizadas e de
            alta qualidade. Entre os serviços oferecidos pela Núcleo MAP em robótica
            industrial, destacam-se: <br />
            - Consultoria para identificação de oportunidades de automação com robôs
            industriais. <br />
            - Elaboração de projetos de automação com robôs industriais. <br />
            - Programação e integração de robôs industriais com sistemas de controle.
            <br />
            - Treinamento para operação e manutenção de robôs industriais <br />
            - Manutenção preventiva e corretiva de sistemas de robótica industrial
            <br />
            Investir em soluções de robótica industrial pode trazer uma série de
            benefícios para a sua empresa, como aumento da produtividade, redução de
            custos e aumento da qualidade dos produtos. Além disso, a utilização de
            robôs industriais pode melhorar as condições de trabalho dos
            colaboradores, eliminando tarefas repetitivas e perigosas. A Núcleo MAP é
            a empresa ideal para ajudar você a implementar soluções de robótica
            industrial em sua empresa, com soluções personalizadas e suporte técnico
            de alta qualidade. Entre em contato conosco e descubra como podemos ajudar
            na automação de seus processos industriais.
        </p>
    </article>
    <figure class="c-image">
        <picture class="c-image-wrap">
            <img srcset="img/robotica/Robotica.svg"
                 alt="Ilustração de Robótica CNC Núcleo MAP"
                 class="c-image-item" />
        </picture>
    </figure>
    <article class="c-highlights">
        <h2 class="c-subtitle">Destaques</h2>
        <ul class="c-highlights__list">
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Soluções personalizadas </strong>de robótica industrial para
                    atender às necessidades de cada cliente.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        >
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Programação e integração </strong>de robôs industriais com
                    sistemas de controle.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Treinamento </strong>para operação e manutenção de robôs
                    industriais.
                </p>
            </li>
            <li class="c-highlights__item">
                <svg class="c-mark">
                    <g class="c-mark__item">
                        <line x1="0" x2="100%" y2="7" y1="7"></line>
                    </g>
                </svg>
                <p class="c-text--compact">
                    <strong>Manutenção preventiva e corretiva </strong>de sistemas de
                    robótica industrial
                </p>
            </li>
        </ul>
    </article>
</div>
